<form action="/add_text" method="post"> 
    <label for="textv">Valeur :</label><br> 
    <input type="text" id="textv" name="textv" value=''}} ><br>
    <input type="submit" value="Submit">
</form>

