<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agency - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/img/INWORK23.PNG')}}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="{{url_for('static', filename='assets/img/INWORK23.PNG')}}" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/index">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="/profils">Profils</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Tarification</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        <a class="btn btn-primary text-center" href="/employé_employeur">S'inscrire</a>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"></div>
                <div class="masthead-heading text-uppercase">Un profil fiable rapidement 
                    pour votre restaurant</div>
                <input class="form-control" id="profil" type="text" placeholder="Serveur, Cuisinier" data-sb-can-submit="no"> 
                <input class="form-control2" id="Contrat" type="text" placeholder="Type de contrat" data-sb-can-submit="no">
                <input class="form-control2" id="periode" type="text" placeholder="Où ?" data-sb-can-submit="no">
                <a class="btn btn-primary btn-xl text-uppercase" href="/profils">Chercher un profil</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text">Des employés qualifiés disponibles</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="my-3">Une inscription sur la base de recommandations</h5>
                        <p class="text-muted">Pour intégrer la plateforme, les inscrits peuvent être recommandés par un professionnel de leur réseau, ou bien nous effectuons nous-même une évaluation de son profil grâce à un équipe de professionnels de la restauration interne.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="my-3">La valorisation du réseau <br> professionnel</h5>
                        <p class="text-muted">Parce que le réseau est primordial dans la restauration, il est possible de recommander les compétences de ses collègues sur la base des expériences passées.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="my-3">Une modération continue des professionnels</h5>
                        <p class="text-muted">Nous nous assurons que tous les profils sont fiables en ne conservant que ceux qui sont régulièrement recommandés à l’issue de leur mission et qui répondent régulièrement aux offres.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text">Les extras des EXTRAS!</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 mb-3">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="">
                                
                                <img class="img-fluid" src="{{url_for('static', filename='assets/img/PROFIL1.jpg')}}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Emma </div>
                                <div class="portfolio-caption-subheading text-muted">Serveuse</div>
                                <div class="form-tag">Service du soir</div>
                                <div class="form-tag">Service du matin</div>
                                <div class="form-tag">Extra</div>
                                <div class="form-tag">Ponctuelle</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-3">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="">
                                
                                <img class="img-fluid" src="{{url_for('static', filename='assets/img/PROFIL2.jpg')}}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Romain </div>
                                <div class="portfolio-caption-subheading text-muted">Serveur</div>
                                
                                <div class="form-tag">Service du matin</div>
                                <div class="form-tag">Extra</div>
                                <p><hr></p>
                                <div class="portfolio-caption-subheading text-muted">"Service parfait!"</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-3">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="">
                                
                                <img class="img-fluid" src="{{url_for('static', filename='assets/img/profil3.jpeg')}}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Philip </div>
                                <div class="portfolio-caption-subheading text-muted">Barman</div>
                                <div class="form-tag">Service du soir</div>
                                
                                <div class="form-tag">Extra</div>
                                <p><hr></p>
                                <div class="portfolio-caption-subheading text-muted">"un Barman au Top!"</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-3">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="">
                                
                                <img class="img-fluid" src="{{url_for('static', filename='assets/img/chef cuisinier 2.jpg')}}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Charlotte </div>
                                <div class="portfolio-caption-subheading text-muted">Chef cuisinier</div>
                                
                                <div class="form-tag">Service du matin</div>
                                <div class="form-tag">CDI</div>
                                <div class="form-tag">Ponctuel</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                </div>
            </div>
        </section>
        
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Ils disent ce qu’ils en pensent</h2>
                    <h3 class="section-subheading text-muted">les avis de nos clients</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{url_for('static', filename='assets/img/team/1.jpg')}}" alt="..." />
                            <h4>Parveen Anand</h4>
                            <p class="text-muted">Restaurateur chez L'italiano - Paris</p>
                            <p class="text-muted">"Simple et efficace"</p>
                            </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{url_for('static', filename='assets/img/resto1.jpg')}}" alt="..." />
                            <h4>Diana Petersen</h4>
                            <p class="text-muted">Restauratrice chez La Patate - Paris</p>
                            <p class="text-muted">"Enfin des extras fiables!"</p>
                            </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{url_for('static', filename='assets/img/resto2.jpg')}}" alt="..." />
                            <h4>Larry Parker</h4>
                            <p class="text-muted">Responsable</p>
                            <p class="text-muted">"Que du personnel qualifiés!"</p>
                           </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contactez-nous</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-controlins" id="name" type="text" placeholder="Votre nom *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">Champs obligatoire</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-controlins" id="email" type="email" placeholder="Votre Email *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">Champs obligatoire</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Champs obligatoire</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-controlins" id="phone" type="tel" placeholder="Votre N° de téléphone *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Champs obligatoire</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-controlins" id="message" placeholder="Votre Message *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Champs obligatoire</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Merci pour votre message!</div>
                            Nous revenons vers vous dans les plus brefs délais
                            <br />
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
                </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2021</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
